<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
    <script type='text/javascript' src="lib/handlebars.js"></script>
     <script type='text/javascript' src="lib/jquery.js"></script>
     <script type='text/javascript' src="lib/underscore.js"></script>
    <script type='text/javascript' src="lib/backbone.js"></script>
     <script type="text/javascript" src="app.js"></script>
      <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src

        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css"> -->
        <title>homeBase</title>
    </head>
    <body>
    Put list here
    <div id='container'>
    <div id='tasks'>
    </div>
    <div>

    <script>
    //<models>

    var Task = Backbone.Model.extend({
        defaults:{
            title:"do something",
            point_value: 10
        },

        initialize: function(){
            console.log("creating a new Backbone task model")

        }

    })


    var doIt = new Task({title:"do it", point_value:100})


    var TaskList = Backbone.Collection.extend({
        model: Task,
        url: "http://localhost:3000/tasks",

        firstTen: function(){
            return this.select(function(task){
                return task.id <= 10
                });
            }
        })



        var tasklist = new TaskList();
        tasklist.fetch();
        console.log(tasklist.length)
    //


   
        var TaskView = Backbone.View.extend({
            tagName: 'li',

            my_template: _.template("<li><strong><%= title %></strong> (<%= point_value %>)</li>"),

            events:{
                'click li': 'doChore'
            },

            doChore: function(event){
                this.model.set({title: this.model.get('title') + ' is complete'})

            },


            initialize: function(){
            this.render();
            },

            render: function(){
            return this.my_template(this.model.attributes);
            }


            });

            var taskview = new TaskView({model: doIt});

            
            var TaskListView = Backbone.View.extend({
                el: '#tasks',
                tagname: "ul",
                className:"tasklist",
                my_template: _.template($('#tasks').html()),

                render: function(){
                    this.$el.html(this.my_template());

                    this.collection.each(function(task){
                        console.log(task)
                        var choreView = new TaskView({model: task});

                        this.$el.append(choreView.render());

                    }, this);

                    return this;
                }

            })


            var tasklistView = new TaskListView({collection: tasklist});
            tasklist.fetch().done(function(){
                tasklistView.render();
            });

            ///

            var TaskListRouter = Backbone.Router.extend({
                routes: {
                    "/":  "index"
                },

                initialize: function(){
                    this.container = $('#container');
                },

                index: function(){
                    $('#container').append(tasklistView.el)


                

                }








            })







    </script>




   <!--  <script id="task-list-tpl" type="text/template">
        <ul>
            {{#each this}}
            <li class="tasks">
                {{title}} : {{point_value}}
            </li>
            {{/each}}
        </ul>
    </script> -->

        
    </body>
</html>
